        /* CSS FOR FONT */
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        /* CSS FOR FONT */
        *{
          margin: 0;
          padding: 0;
          scroll-behavior: smooth;
          
      }
      /* width */
      ::-webkit-scrollbar {
        width: 13px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

        /* ------------------------------------------------------- Preload Screen Start:- -------------------------------------------------------*/

        *::selection{
            background-color: rgba(97, 218, 251, 0.6);
            color: black;
        }

        #loading-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #222;
        z-index: 99999;
    }
  
  #loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* -------------------------------------------------------Preload Screen End: ---------------------------------------------------------*/



.nav-bar{
    letter-spacing: 1px;
    font-weight: 300;
    height: 3.5rem;
    width: 100%;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(255, 255, 255, 0.1);
    display: flex;
    position: sticky;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 3rem;
    margin-left: 85px;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li .a-nav{
  color: #f2f5f7;
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links .a-nav:hover {
    color: #61DAFB;
    width: 100%;
}
.nav-links li {
    position: relative;
}
.nav-links li .a-nav::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links .a-nav:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    color: #ffffff;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #61DAFB;
    border:1.5px solid #61DAFB;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
    /*Animating Hamburger Icon on Click*/
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        transition: all 0.7s ease;
        width:0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
/* Section Start */
    #index-main-body{
      background-color: #131418;
      height: 92vh;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    .about-me-heading{
      font-size: 40px;
      width: 200px;
      margin: auto;
      text-transform: uppercase;
      border-bottom: 5px solid #61DAFB;
    }
    .about-container-flex{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }
    .description-1{
      color: #fff;
      width: 470px;
      text-align: justify;
      border: 2px solid rgb(64, 64, 64);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    }
    .description-2{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .small-cont{
      height: 200px;
      width: 200px;
      border: 2px solid rgb(64, 64, 64);
      border-radius: 15px;
      transition: .5s;
      cursor: pointer;
      box-shadow: 0 0px 3px rgba(255, 255, 255, 0.3);
      margin: 20px;
    }
    .number-works{
      font-size: 40px;
    width: 65px;
    margin: auto;
    position: relative;
    top: 20px;
    color: #61DAFB;
    cursor: pointer;
    transition: .5s;
    }
    .small-cont hr{
      width: 80%;
      margin: auto;
      margin-top: 40px;
      border: 1px solid rgb(64, 64, 64);
      cursor: pointer;
      transition: .5s;
    }
    .work-name{
      color: #fff;
      width: 100px;
      text-align: center;
      font-size: 25px;
      margin: auto;
      margin-top: 8px;
      cursor: pointer;
      transition: .5s;
    }
    .small-cont:hover{
      border: 2px solid #61DAFB;
      transform: translateY(5px);
      box-shadow: 0 0px 7px rgba(255, 255, 255, 0.3);
    }
    .small-cont:hover .number-works{
      color: #fff;
    }
    .small-cont:hover hr{
      border: 1px solid #61DAFB;
    }
    .small-cont:hover .work-name{
      color: #61DAFB;
    }
  /* Section End */

        .footer-container-flex{
            display: flex;
            gap: 20px;
            box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
            position: relative;
            z-index: 9999;
        }

        .ffia{
            margin-left: 23.5px;
        }

        .purpose{
            font-size: 25px;
            border-bottom: 3px solid #61DAFB;
            width: 329.5px;
            margin-bottom: 15px;
            margin-top: 9px;
            margin-right:65px;
        }

        .main-purpose-text{
            font-size: 17.5px;
            text-align: justify;
        }

        .about-myself{
            margin-top: 15px;
            font-size: 18px;
            font: weight 800px;
            text-transform: uppercase;
        }

        .my-main-text-myself{
            font-size: 17px;
            margin-top: 15px;
            text-align: justify;
            margin-right: 15px;
        }

        .myclass-about-myself{
            margin-top: 6px;
        }

        .ph-dob-mail-etc{
            margin:50px ;
            margin-top: 35px;
            margin-left: 0px;
            font-size: 20px;
        }

        .ph-2{
            margin-top: 20px;
        }

        .mail-id-3{
            margin-top: 20px;
        }

        .address-me-4{
            margin-top: 20px;
        }

       .footer-bottom {
        background-color: #131418;
        color: #fff;
        padding: 20px;
        height: 205px;
        padding-bottom: 30px;
      }

      .ffi2, .ffi3{
        width: 30%;
      }

      .about-contact-favorites-more{
        margin-left: -40px;
      }

      .ffi1{
        width: 40%;
        margin-left: 5%;
      }

      .a-footer{
        text-decoration: none;
        display: inline-block;
        margin-left: -50px;
     }
     .a-footer::after{
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #61DAFB;
        transition: width 0.3s ease;
     }
     .a-footer:hover::after{
        width: 100%;
     }

      li.li-myself{
        margin-bottom: 13px;
        border-bottom: 3px solid #61DAFB;
        width: 65px;
        font-size: 25px;
        margin-left: 63px;

      }

      .myself-flex-footer{
        /* margin-left: 65px; */
        font-size: 25px;
        margin-top: -10px;
      }

      .unordered-footer{
        margin-top: 20px;
        margin-left: 7%;
      }

      .list-footer{
        list-style-type: none;
        font-size: 19px;
        margin-left: 10%;
        margin: 0px 0px 0px 0px;
        color: white;
        text-decoration: none;
        margin-top: 10px;
        
      }

      a.contact-footer.a-footer{
        margin:25px 65px 0px;
      }

      .a-ul-c{
        text-decoration: none;
        display: inline-block;
     }
     .a-ul-c::after{
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #61DAFB;
        transition: width 0.3s ease;
     }
     .a-ul-c:hover::after{
        width: 100%;
     }

     .a-ul-pro{
        margin-top: 10px;
     }

      .li3{
        margin-top: -15px;
      }

      .li1:hover{
        width: auto;
      }
      .li2:hover{
        width: auto;
      }
      .li3:hover{
        
        width: auto;
      }
      .li4:hover{
        
        width: auto;
      }
      .li5:hover{
        
        width: auto;
      }
      
      .a-footer{
        text-decoration: none;
        margin-left: 65px;
      }

.contact-footer{
    margin-left: -85px;
}

.li-contact{
    list-style-type: none;
    font-size: 25px;
    border-bottom: 3px solid #61DAFB;
    width: 83px;
    margin-bottom: 17px;
    margin-top: 10px;
}

.li-contacts{
    list-style-type: none;
    font-size: 19px;
    margin-top:10px;
    color: white;

}
.ul-contact{
    margin-top: -10px;
}

.li-contacts:hover{
    /* border-bottom: 3px solid #61DAFB; */
    cursor: pointer;
}

.ph-no:hover{
    width:auto;
}
.email-ul:hover{
    width: auto;
}
.social-ul{
   width: auto; 
}

.contacts .ul-contact a{
    text-decoration: none;
}

.li-products{
    list-style-type: none;
    font-size: 25px;
    border-bottom: 3px solid #61DAFB;
    width: 141px;
    margin-bottom: 15px;
    margin-top: 10px;
}



.more-products-footer{
    margin-left: -90px;
}

.more-products-main-ul-li .products-main-ul a{
    text-decoration: none;
}

.products-main-li{
    list-style-type: none;
    color: white;
    font-size: 19px;
}

.signup-li:hover{  
    width: auto;
}

.nepal-li:hover{   
    width: auto;
}

.upcome:hover{
    
    width: auto;
}

.a-ul-pro{
    text-decoration: none;
    display: inline-block;
 }
 .a-ul-pro::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #61DAFB;
    transition: width 0.3s ease;
 }
 .a-ul-pro:hover::after{
    width: 100%;
 }